body {
  margin: 0 auto;
  display: flex;
  width: 1240px;
  height: 1095px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  /* or 68px */
}

a {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 68px;
  left: 100px;
  top: 40px;
}

.logo-div {
  left: 0%;
  right: 83.04%;
  top: 0%;
  bottom: 0%;
}
.logo-div svg {
  width: 210px;
  height: 68px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  left: 75.08%;
  right: 0%;
  top: 25%;
  bottom: 25%;
}

.navbar li {
  margin-right: 30px;
  border: 3px solid transparent;
  font-size: 24px;
  line-height: 34px;
  color: #ff6060;
}

.navbar li a {
  padding-right: 20px;
}

.navbar li a:hover {
  text-decoration: underline;
}

/* HOME PAGE */

.home-section1 {
  display: flex;
  background-image: url(../assets/eric-muhr-P_XxsdVgtpQ-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section1 img {
  width: 1278px;
  height: 223px;
}

.home-section1-text-bgd {
  width: 1240px;
  height: 223px;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
}

.home-section1-text {
  font-size: 48px;
  line-height: 68.45px;
  color: #ffffff;
  text-align: center;
}

.gallery {
  display: flex;
}

.gallery-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}
.cover-home-link :hover {
  margin-bottom: 15px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.cover-home-card {
  border-radius: 10px;
  padding: 10px;
  height: 340px;
  width: 340px;
}

.cover-home-card-img {
  display: flex;
  border-radius: 10px;
}

.cover-img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.cover-home-card-title {
  border-radius: 10px;
}

.cover-home-card-title h2 {
  font-size: 18px;
  color: #ffffff;
  margin-top: -40px;
}

/* FICHE LOGEMENT */

.fiche-logement {
  display: flex;
  flex-direction: column;
  width: 1240px;
}

.carrousel-logement {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-self: center;
  width: 1240px;
  height: 415px;
  left: 100px;
  top: 128px;
  border-radius: 25px;
  mix-blend-mode: normal;
}

.slides {
  display: flex;
  justify-content: space-between;
}

.arrow-back,
.arrow-forward {
  position: absolute;
  left: 92.26%;
  right: 0%;
  top: 33.93%;
  bottom: 37.24%;
  background-color: #ffffff;
}

.numbertext {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 24px;
}

.data-logement {
  display: flex;
  justify-content: space-between;
}

.adress-logement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.localisation-logement {
  display: flex;
  flex-direction: column;
}

.title-fiche-logement {
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}

.txt-location-logement {
  color: #ff6060;
  font-size: 18px;
}

.tagging-logement {
  display: flex;
  margin-bottom: 10px;
}

.tags-wrapper {
  display: flex;
  justify-content: space-around;
}

.tags-logement {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  background: rgba(255, 96, 96, 1);
}

.tags-logement span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 115px;
  left: 40px;
  top: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 10px;
}

.data-owner-logement {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fiche-owner {
  display: flex;
  justify-content: flex-end;
}

.details-owner {
  display: flex;
  justify-content: space-between;
}

.fiche-logement-host-picture {
  display: flex;
  justify-content: flex-end;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #c4c4c4;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.eval-logement {
  display: flex;
  justify-content: flex-end;
  color: #ff6060;
}

.dropdown-logement {
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  border-radius: 10px;
}

.dropdown-item-title {
  display: flex;

  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
  background-color: #ff6060;
  color: #ffffff;
  left: 3.44%;
  right: 78.35%;
  top: 25%;
  bottom: 25%;
}

.dropdown-chevron {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-item-content-description {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 249px;
  top: 42px;
  color: #ff6060;
}

.dropdown-item-content-equipments {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 249px;
  top: 42px;
  color: #ff6060;
}

/* PAGE ABOUT */

.section1-about {
  display: flex;
  background-image: url(../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1240px;
  height: 223px;
  left: 100px;
}

.dropdown-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1024px;
  background: #ffffff;
}

.dropdown-item-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1023px;

  top: 842px;
  left: 208px;
  color: #ff6060;
  border-radius: 5px;
}

.rectangle-about {
  height: 47px;
  width: 1023px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  color: #ff6060;
}

/* FOOTER */

footer {
  display: flex;
  top: 4333px;
  width: 1240px;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 209px;
  width: 1440px;
  background-color: #000000;
}

.logoDivFooter {
  display: flex;
  align-self: center;
  align-items: center;
  width: 122px;
  height: 39.44px;
  text-align: center;
  color: #ffffff;
}

.textFooter {
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-self: center;
  align-items: center;
  top: 64.11%;
  bottom: 13.88%;
  color: #ffffff;
}
