body {
  margin: 0 auto;
  display: flex;
  width: 1240px;
  height: 1095px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  /* or 68px */
}

a {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  left: 100px;
  top: 40px;
}

.logo-div {
  left: 0%;
  right: 83.04%;
  top: 0%;
  bottom: 0%;
  padding-bottom: 20px;
  margin-top: 10px;
}
.logo-div svg {
  width: 210px;
  height: 68px;
  margin-top: 15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 10px;
}

.navbar li {
  margin-right: 30px;
  border: 3px solid transparent;
  font-size: 24px;
  line-height: 34px;
  color: #ff6060;
}

.navbar li:hover {
  text-decoration: underline;
  color: #ff6060;
}

/* HOME PAGE */

.home-banner {
  display: flex;
  background-image: url(../assets/eric-muhr-P_XxsdVgtpQ-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 223px;
  border-radius: 25px;
}

.home-banner img {
  position: relative;
  width: 100%;
  height: 223px;
  opacity: 30%;
  mix-blend-mode: darken;
}

.home-banner-content {
  display: flex;
  border-radius: 25px;
  width: 1240px;
  height: 223px;
  left: 100px;
  top: 171px;
  border: solid 1px #f7f7f7;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.home-banner-text-bgd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: 223px;
}

.home-banner-text {
  font-size: 48px;
  color: #ffffff;
  font-weight: 500;
  line-height: 68.45px;
}

.gallery {
  display: flex;
  background: #f7f7f7;
  border-radius: 25px;
}

.gallery-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.5s all ease-in-out;
  background: #f7f7f7;
  border-radius: 10px;
}
.cover-home-link :hover {
  margin-bottom: 15px;
  border-radius: 10px;
}
.cover-home-card {
  position: relative;
  height: 340px;
  width: 340px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.cover-home-card-img {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.cover-home-card-title {
  display: flex;
  align-items: flex-end;
}

.cover-home-card-title h2 {
  line-height: 142.6%;
  margin-top: -40px;
  font-size: 18px;
  color: #ffffff;
}

/* FICHE LOGEMENT */

.fiche-logement {
  display: flex;
  flex-direction: column;
  width: 1240px;
}

.container-slideshow {
  width: 1240px;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

.slider {
  position: absolute;
  width: 100%;
  margin: 1em auto;
  mix-blend-mode: normal;
}

.slider img {
  width: 100%;
  max-height: 415px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.arrow-forward,
.arrow-back {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 1;
  cursor: pointer;
}
.arrow-forward {
  right: 0;
}

.arrow-back svg,
.arrow-forward svg {
  height: 79.19999694824219px;
  width: 46.68000030517578px;
  left: 25.96002197265625px;

  color: #ffffff;
}

.numbertext {
  z-index: 1;
  position: absolute;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.data-logement {
  display: flex;
  justify-content: space-between;
}

.adress-logement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.localisation-logement {
  display: flex;
  flex-direction: column;
}

.title-fiche-logement {
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}

.txt-location-logement {
  color: #ff6060;
  font-size: 18px;
  margin-top: -25px;
}

.tagging-logement {
  display: flex;
  margin-bottom: 10px;
}

.tags-wrapper {
  display: flex;
  justify-content: space-around;
}

.tags-logement {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  background: rgba(255, 96, 96, 1);
}

.tags-logement span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 115px;
  left: 40px;
  top: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 10px;
}

.data-owner-logement {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fiche-owner {
  display: flex;
  justify-content: flex-end;
}

.details-owner {
  display: flex;
  justify-content: space-between;
}

.details-owner p {
  font-weight: 500;
  font-size: 18px;
  padding-right: 10px;
}

.fiche-logement-host-picture {
  display: flex;
  justify-content: flex-end;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 10px;
}

.rating {
  display: flex;
  justify-content: space-around;
  color: #ff6060;
  font-size: 24px;
  padding-top: 10px;
}

.dropdown-logement {
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  border-radius: 10px;
}

.dropdown-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 52px;
  cursor: pointer;
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 10px;
}

.dropdown-chevron {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-item-content-description {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 249px;
  top: 42px;
  color: #ff6060;
  font-size: 18px;
}

.dropdown-item-content-equipments {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 249px;
  top: 42px;
  color: #ff6060;
  font-size: 18px;
}

.dropdown-item-content-equipments li {
  list-style-type: none;
}

/* PAGE ABOUT */

.about-banner {
  display: flex;
  background-image: url(../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 223px;
  border-radius: 25px;
}

.about-banner img {
  width: 100%;
  height: 223px;
  opacity: 30%;
  mix-blend-mode: darken;
  border-radius: 25px;
}

.about-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1024px;
  background: #ffffff;
}

.about-dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1023px;
  height: 170px;
}

.about-rectangle {
  height: 47px;
}

.dropdown {
  border-radius: 5px;
}

.dropdown-item-title {
  padding-left: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}

.dropdown-chevron {
  padding-right: 25px;
}

.dropdown-item-content {
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  color: #ff6060;
}

/* FOOTER */

footer {
  display: flex;
  top: 4333px;
  width: 1240px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 209px;
  width: 1440px;
  background-color: #000000;
}

.logo-footer {
  display: flex;
  align-self: center;
  align-items: center;
  width: 122px;
  height: 39.44px;
  text-align: center;
  color: #ffffff;
}

.text-footer {
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-self: center;
  align-items: center;
  top: 64.11%;
  bottom: 13.88%;
  color: #ffffff;
}
