/*Le body a la propriété box-sizing et une hauteur de viewport de 100vh*/

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  max-width: 1240px;
  max-height: 1095px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  /* or 68px */
}

a {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

/*Le header comprend un logo et une barre de navigation */
.header {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  left: 100px;
  top: 40px;
}

/*Le logo est au format svg pour ne pas être pixelisé*/
.logo-div {
  left: 0%;
  right: 83.04%;
  top: 0%;
  bottom: 0%;
  padding-bottom: 20px;
  margin-top: 10px;
}
.logo-div svg {
  width: 210px;
  height: 68px;
  margin-top: 15px;
}

/*Navigation*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 10px;
}

.navbar li {
  margin-right: 30px;
  border: 3px solid transparent;
  font-size: 24px;
  line-height: 34px;
  color: #ff6060;
}

.navbar li:hover {
  text-decoration: underline;
  color: #ff6060;
}

/* HOME PAGE DESKTOP */

.home-banner {
  display: flex;
  background-image: url(../assets/eric-muhr-P_XxsdVgtpQ-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(92%);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: 223px;
  position: relative;
  z-index: 1;
  border-radius: 25px;
}

.home-banner-content {
  position: absolute;
}

.home-banner img {
  width: 100%;
}

.home-banner-text-bgd {
  position: relative;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
}
.home-banner-text {
  position: absolute;
  font-size: 48px;
  color: #ffffff;
  font-weight: 500;
  line-height: 142.6%;
  left: 25.9%;
  right: 25.14%;
  top: 24.32%;
  bottom: 69.04%;
  z-index: 2;
}

/* Liste des logements disponibles */
.gallery {
  display: flex;
  background: #f7f7f7;
  border-radius: 25px;
  color: rgba(255, 255, 255, 1);
}

.gallery-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.5s all ease-in-out;
  background: #f7f7f7;
  border-radius: 10px;
}
.cover-home-link :hover {
  margin-bottom: 15px;
  border-radius: 10px;
}
.cover-home-card {
  position: relative;
  height: 340px;
  width: 340px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.cover-home-card-img {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.cover-home-card-title {
  display: flex;
  align-items: flex-end;
}

.cover-home-card-title h2 {
  line-height: 142.6%;
  margin-top: -40px;
  font-size: 18px;
  color: #ffffff;
}

/* FICHE LOGEMENT DESKTOP */
/* Une fiche détaillée présente chaque logement */

.fiche-logement {
  display: flex;
  flex-direction: column;
  width: 1240px;
  color: rgba(255, 255, 255, 1);
}

/* Un carrousel présente une ou plusieurs photos des logements */
.container-slideshow {
  width: 1240px;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

.slider {
  position: absolute;
  width: 100%;
  margin: 1em auto;
  mix-blend-mode: normal;
}

.slider img {
  width: 100%;
  height: auto;
  max-height: 415px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.arrow-forward,
.arrow-back {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 1;
  cursor: pointer;
}
.arrow-forward {
  right: 0;
}

.arrow-back svg,
.arrow-forward svg {
  height: 79.19999694824219px;
  width: 46.68000030517578px;
  left: 25.96002197265625px;

  color: #ffffff;
}

.numbertext {
  z-index: 1;
  position: absolute;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

/* Informations sur la localisation du logement */
.data-logement {
  display: flex;
  justify-content: space-between;
}

.adress-logement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.localisation-logement {
  display: flex;
  flex-direction: column;
}

.title-fiche-logement {
  font-size: 36px;
  line-height: 142.6%;
  color: #ff6060;
}

.txt-location-logement {
  color: #ff6060;
  font-size: 18px;
  margin-top: -25px;
}

.tagging-logement {
  display: flex;
  margin-bottom: 10px;
}

.tags-wrapper {
  display: flex;
  justify-content: space-around;
}

.tags-logement {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-right: 10px;
  background: rgba(255, 96, 96, 1);
}

.tags-logement span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 115px;
  left: 40px;
  top: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 142.6%;
}

/* Informations sur le propriétaire du logement */
.data-owner-logement {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fiche-owner {
  display: flex;
  justify-content: flex-end;
}

.details-owner {
  display: flex;
  justify-content: space-between;
}

.details-owner p {
  font-weight: 500;
  font-size: 18px;
  padding-right: 10px;
}

.fiche-logement-host-picture {
  display: flex;
  justify-content: flex-end;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 10px;
}

.rating {
  display: flex;
  justify-content: space-around;
  color: #ff6060;
  font-size: 24px;
  padding-top: 10px;
}

/* Description du logement et liste des équipements */

.dropdown-logement {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.dropdown-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  height: 52px;
  cursor: pointer;
  background-color: rgba(255, 96, 96, 1);
  color: #ffffff;
  border-radius: 10px;
}

.dropdown-chevron {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 14px;
}

.dropdown-item-content-description {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 249px;
  top: 42px;
  color: rgba(255, 96, 96, 1);
  font-size: 24px;
}

.dropdown-item-content-equipments {
  display: flex;
  flex-direction: column;
  width: 582px;
  height: 249px;
  top: 42px;
  color: rgba(255, 96, 96, 1);
  font-size: 24px;
}

.dropdown-item-content-description li,
.dropdown-item-content-equipments li {
  list-style-type: none;
}

/* PAGE ABOUT DESKTOP */
/* Présentation des valeurs de Kasa : fiabilité, respect, service et sécurité */

.about-page {
  color: rgba(255, 255, 255, 1);
}

.about-banner {
  display: flex;
  background-image: url(../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 223px;
  border-radius: 25px;
}

.about-banner img {
  width: 100%;
  height: 223px;
  opacity: 30%;
  mix-blend-mode: darken;
  border-radius: 25px;
}

.about-dropdown-wrapper {
  display: flex;
}

.about-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-bottom: 85px;
}

.about-dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1023px;
  height: 170px;
}

.about-rectangle {
  height: 47px;
}

.dropdown {
  border-radius: 5px;
}

.dropdown-item-title {
  padding-left: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
}

.dropdown-chevron {
  padding-right: 25px;
}

.dropdown-item-content {
  line-height: 142.6%;
}

.dropdown-content-description p {
  color: rgba(255, 96, 96, 1);
  font-size: 24px;
  font-weight: 400;
}

.about-dropdown .dropdown li {
  list-style-type: none;
}

.about-dropdown .dropdown li {
  list-style-type: none;
}

.dropdown .dropdown-item-content-equipments {
  display: none;
}

/* FOOTER DESKTOP */

footer {
  display: flex;
  width: 1240px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 209px;
  width: 1440px;
  background-color: rgba(0, 0, 0, 1);
}

.logo-footer {
  display: flex;
  align-self: center;
  align-items: center;
  width: 122px;
  height: 39.44px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.text-footer {
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-self: center;
  align-items: center;
  top: 64.11%;
  bottom: 13.88%;
  color: #ffffff;
}

/* ERROR PAGE DESKTOP */
/* En cas de problème, une page erreur redirige l'internaute vers la page Accueil */
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #e5e5e5;
}

.error-page-chiffre-404 {
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  /* or 411px */
  color: #ff6060;
}
.error-page-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* identical to box height, or 26px */
  align-items: flex-end;
  text-decoration-line: underline;
  cursor: pointer;
  color: #ff6060;
}

/* MEDIA QUERIES */
/* Adaptation pour les appareils mobiles */
/*Small devices (landscape phones, less than 767px)*/

@media screen and (max-width: 767px) {
  /* HOME PAGE MOBILE */

  body {
    height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  .root {
    display: flex;
    flex-direction: column;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 1);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    width: 335px;
    left: 20px;
    top: 20px;
    margin-bottom: 20px;
  }

  .logo-div {
    height: 47px;
    width: 145px;
    left: 20px;
    top: 20px;
  }

  .logo-div svg {
    height: 47px;
  }
  .navbar {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
    height: 17px;
    width: 140px;
    left: 195px;
    top: 18px;
  }
  .navbar li.accueil {
    display: flex;
    height: 17px;
    width: 59px;
    left: 195px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: right;
  }

  .navbar li.about {
    display: flex;
    height: 17px;
    width: 71px;
    left: 264px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: right;
  }
  .home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/eric-muhr-P_XxsdVgtpQ-unsplash-mobile.png);
    height: 111px;
    width: 335px;
    left: 10px;
    filter: brightness(82%);
    position: relative;
    z-index: 1;
  }

  .home-banner img {
    height: 962.1658935546875px;
    width: 345.2661437988281px;
    left: 20px;
    top: -331px;
  }

  .home-banner-content {
    position: absolute;
    display: flex;
  }
  .home-banner-text-bgd {
    display: flex;
    justify-content: flex-start;
    height: 48px;
    width: 217px;
    left: 36px;
    top: 114px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
  }
  .home-banner-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    z-index: 2;
  }
  .gallery {
    display: flex;
  }

  .gallery-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .cover-home-card {
    height: 255px;
    width: 335px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .cover-home-card-title h2 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #ffffff;
  }

  /* FOOTER MOBILE */

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 209px;
    width: 375px;
  }

  .logo-footer {
    display: flex;
    align-self: center;
    align-items: center;

    width: 122px;
    left: 127px;
    top: 62px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }

  .text-footer {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    height: 46px;
    color: #ffffff;
  }

  /* FICHE LOGEMENT MOBILE */
  main {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
  }

  .fiche-logement {
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 1);
  }

  .container-slideshow {
    justify-content: center;
    text-align: center;
    height: 255px;
    width: 335px;
    border-radius: 10px;
  }

  .slider {
    justify-content: center;
    height: 255px;
    width: 335px;
    border-radius: 10px;
  }

  .slides-fade {
    border-radius: 10px;
    height: 255px;
    width: 335px;
  }

  .slider img {
    height: 255px;
    width: 100%;
  }

  .arrow-back svg,
  .arrow-forward svg {
    height: 24px;
    width: 24px;
  }

  .data-logement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .adress-logement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .localisation-logement {
    display: flex;
    width: 335px;
  }

  h1 .title-fiche-logement {
    height: 46px;
    width: 335px;
    left: 20px;
    top: 364px;
    font-size: 18px;
    color: #ff6060;
  }

  p .txt-location-logement {
    color: #ff6060;
    height: 22px;
    width: 323px;
    left: 20px;
    top: 415px;
    font-size: 14px;
  }

  .tagging-logement {
    display: flex;
    flex-wrap: wrap;
  }

  .tags-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .tags-logement span {
    justify-content: center;
    flex-wrap: wrap;
    height: 18px;
    width: 84px;
    border-radius: 5px;
    left: 29.069580078125px;
    top: 2.1600341796875px;
  }

  .data-owner-logement {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 370px;
  }

  .fiche-owner {
    display: flex;
  }

  .details-owner p {
    height: 33px;
    width: 93px;
    color: rgba(255, 96, 96, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 17.11px;
    text-align: right;
  }
  .fiche-logement-host-picture {
    display: flex;
    justify-content: flex-end;
    height: 32px;
    width: 32px;
    left: 103.5px;
    top: 0.5px;
    margin-right: 30px;
    background: rgba(196, 196, 196, 1);
  }

  .rating {
    display: flex;
    justify-content: flex-start;
  }
  .rating-logement {
    display: flex;
    height: 18px;
    width: 98px;
    left: 20px;
    top: 489px;
  }

  span svg {
    height: 15px;
    width: 15px;
    left: 1.5px;
    top: 1.5px;
  }

  .dropdown-logement {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .dropdown-item-title {
    display: flex;
    height: 29.931270599365234px;
    width: 335px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 96, 96, 1);
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
  }

  .dropdown-item-content-description {
    height: 155px;
    width: 335px;
    left: 0px;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
  }

  .dropdown-item-content-equipments {
    height: 143.32472229003906px;
    width: 335px;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

  /*  ABOUT PAGE MOBILE */

  .about-page {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    margin-right: 10px;
    margin-left: 10px;
  }

  .about-banner {
    display: flex;
    background-image: url(../assets/gustavo-alves-YOXSC4zRcxw-unsplash-mobile.png);
    height: 223px;
    width: 336px;
    top: -331px;
    margin-left: 10px;
  }
  .about-banner img {
    height: 258px;
    width: 446px;
  }
  .about-dropdown-wrapper {
    display: flex;
    flex-direction: column;
  }
  .about-dropdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 425px;
    width: 335px;
    left: 21px;
    top: 216px;
  }
  .about-dropdown-item {
    display: flex;
    height: auto;
    width: 335px;
    left: 20px;
    top: 614px;
  }
  .about-rectangle {
    height: auto;
    width: 335px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
  }

  .dropdown-isOpen {
    font-size: 12px;
    opacity: 0;
    background: #f6f6f6;
    transition: opacity 0.2s ease-in-out, height 0.1s 0.1s ease-in-out;
    height: auto;
    visibility: hidden;
    border-radius: 10px;
  }

  .slide {
    opacity: 1;
    transition: height 0.2s ease-in-out, opacity 0.1s 0.1s ease-in-out;
    height: auto;
    visibility: visible;
    padding: 13px;
  }

  .dropdown-content-description p {
    color: rgba(255, 96, 96, 1);
    font-size: 12px;
    font-weight: 400;
    height: auto;
    width: 335px;
    left: 20px;
    top: 376px;
  }
  .dropdown-content-equipments ul {
    margin-top: -30px;
  }

  .dropdown-content-equipments p {
    color: rgba(255, 96, 96, 1);
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    width: 335px;
    left: 20px;
    top: 376px;
  }

  /*  ERROR PAGE MOBILE */

  .error-page {
    display: flex;
    flex-direction: column;
    height: 812px;
    width: 375px;
    left: 947px;
    top: 2085px;
    color: rgba(255, 255, 255, 1);
  }
  .error-page-chiffre-404 {
    height: 99px;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
    line-height: 136.9%;
    /* or 411px */
    color: #ff6060;
  }

  .error-page-h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67%;
    /* identical to box height, or 26px */
    text-align: center;

    color: #ff6060;
  }

  .error-page-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 19.96%;
    /* identical to box height, or 26px */
    align-items: flex-end;
    text-decoration-line: underline;
    cursor: pointer;
    color: #ff6060;
  }
}
